{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}
    <div class="container">
    {% if uchwaly.count > 0 %}
                <h2>Wszystkie uchwały</h2>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Uchwała</th>
                        <th>Widoczna</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for u in uchwaly %}

                      <tr onclick="window.location='{{ u.get_absolute_url }}';">
                                <td >{{u.title}}</td>
                                <td>
                                    {%if u.is_visible %}
                                        Tak
                                    {% else %}
                                        Nie
                                    {% endif %}
                                </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
     {% else %}
         <p>Nie ma dostępnych uchwał.</p>

    {% endif %}
    </div>

{% endif %}
{% endblock %}